# Flask e CORS
flask
flask-cors

# Transformers com suporte para PyTorch ou TensorFlow
transformers

# Dependências de aprendizado de máquina
torch # Verifique se esta versão é compatível com a sua versão do transformers
tensorflow  # Verifique se esta versão é compatível com a sua versão do transformers

# Pandas
pandas

gunicorn

